.header{
    background-color: #161B22;
    padding: 1rem;
    gap: 0.75rem;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.header__wrapper{
    display: flex;
    gap: 0.5rem;
}

.header__logo{
    width: 2rem;
    height: 2rem;
    border: 0;
    margin-left: 0.5rem;
}

.header__search-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__slash{
  position: absolute;
  top: 25px;
  left: 22.5rem;
  color: #8d96a0;
  background: #00000000;
  border: 0.0625 solid #8d96a0;
  border-radius: 0.1875rem;
  cursor: pointer;
}

.btn__search{
  display: none;
  background: #00000000;
  border: 0.025px solid #8d96a02f;
  border-radius: 0.1875rem;
  cursor: pointer;
}


.input-placeholder {
    padding: 10px;
    font-size: 16px;
    border: 0px solid #ccc; /*Border of input will delete as not needed */
    border-radius: 4px;
    background-color: #010409; /* Background color of INPUT */
    color: #ffffff; /*Change the color of INPUT text */
    width: 20rem;
  }

  .input-placeholder::placeholder {
    color: #C9D1D9; /* Example placeholder text color */
  }

  .header__content{
    display: flex;
    align-items: center;

  }
  .content__wrapper{
    display: flex;
    gap: 25px;
  }

  .content__item-link{
    color: #F0F6FC;
  }

  .content__item{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    transition: 0.5s all;
    border-radius: 10px;
  }

  .content__item:hover{
    background-color: #20242a;
  }

  @media screen and (max-width: 1120px){
    .input-placeholder{
      display: none;
    }

    .btn__slash{
      display: none;
    }

    .btn__search{
      display: block;
    }

    .content__item-link{
      font-size: 12px;
    }
  }

  @media screen and (max-width: 768px){
    .header__content{
      display: none;
    }

    .input-placeholder{
      display: block;
    }

    .btn__slash{
      display: block;
    }

    .btn__search{
      display: none;
    }
  }