.profile-nav {
    background-color: #0d1117;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #c9d1d92c;
    position: relative; /* Добавлено для позиционирования кнопки абсолютно */
}

.profile-nav__list-wrapper {
    display: flex;
    gap: 45px;
    padding: 0;
}

.profile-nav__list-item {
    padding: 9px;
    transition: 0.5s all;
    border-radius: 5px;
    border-bottom: 3px solid #f7816600;
}



.profile-nav__list-item.active {
    border-bottom: 3px solid #f78166;
}

.profile-list__item-link{
    display: flex;
}

.profile-list__item-link span {
    color: #c9d1d9;
}

.profile-item-text {
    margin-left: 10px;
}

.profile-dropdown-toggle {
    position: absolute;
    right: 10px;
    display: none;
    top: 0;
}

.profile-dropdown-content {
    position: absolute;
    background-color: #0d1117;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    padding: 0;
}

.profile-dropdown-item {
    padding: 10px;
    transition: 0.5s all;
    border-radius: 5px;
}

.profile-dropdown-item:hover {
    background-color: #171b20;
}

.profile-item--icon {
    display: inline-block;
}

@media screen and (max-width: 768px) {


    .profile-item--icon svg{
        width: 14px;
    }
    
    .profile-item-text{
        font-size: 12px;
    }
}

@media screen and (max-width: 689px) {

    .profile-nav__list-wrapper {
        display: flex;
        gap: 15px;
        padding: 0;
    }

    .profile-item--icon svg{
        width: 14px;
    }
    
    .profile-item-text{
        font-size: 12px;
    }
}


@media screen and (max-width: 554px) {
    .profile-nav__list-wrapper {
        justify-content: space-between;
    }

    .profile-nav__list-item {
        display: none;
    }

    .profile-dropdown-toggle {
        display: block;
    }

    .profile-dropdown-content {
        display: block;
        position: static;
        border-top: 1px solid #c9d1d92c;
    }

    .profile-dropdown-content .profile-dropdown-item {
        display: block;
    }

    .profile-item-text {
        color: #c9d1d9;
    }
    
}
