@media screen and (max-width: 1900px) {
    .productivity-block-anime__blur {
        transform: translate(5%, 20%);
    }
    .application-security__productivity-block-anime__blur {
        width: 810px;
        transform: translate(0%, 5%);
    }
    .global__wrapper {
        width: 716px;
        height: 718px;
    }
}

@media screen and (max-width: 1200px) {
    .productivity-block-anime__blur {
        max-width: 100%;

        transform: translate(0%, 20%);
    }
    .application-security__productivity-block-anime__blur {
        transform: translate(0%, 0%);
    }
    .application-security__productivity-block-anime__second {
        right: 0;
    }
    .river__content {
        max-width: 330px;
    }
    .nav__wrapper {
        justify-content: space-between;
    }
    .burger-wrapper {
        display: block;
    }
    .nav__sign-up {
        display: none;
    }
    .nav__inner {
        position: absolute;
        top: 50px;
        right: 0;
        left: 20px;

        display: flex;
        flex-direction: column;

        padding: 16px;

        border-radius: 6px;
        background-color: #fff;
        display: none;
    }
    .nav__inner .nav__menu {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 32px;
    }
    .nav__inner .nav__item {
        width: 100%;
    }
    .nav__inner .nav__link {
        color: #1f2328;

        justify-content: space-between;
    }
    .nav__inner .nav__svg {
        fill: #1f2328;
        transform: rotate(-90deg);
    }
    .nav__inner .nav__wrapper-item {
        margin-left: 0;
        align-items: normal;

        flex-direction: column;
    }
    .nav__sign-up-wrapper {
        display: block;
    }
    .nav__inner .nav__btn {
        padding: 8px;

        width: 100%;

        text-align: center;

        background-color: #24292f;
        border: 1px solid #24292f;
        border-radius: 6px;
    }
    .nav__inner .nav__btn-search {
        gap: 0;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1199px) {
    .header-form__btn-start {
        padding: 15px;
    }
    .productivity-block-anime__second {
        right: 0;

        max-width: 280px;

        transform: translateY(-70%);
    }
    .card-content__main {
        padding: 40px;
    }
    .productivity-block-anime__blur {
        transform: translate(0%, 10%);
    }
    .application-security__productivity-block-anime__blur {
        transform: translate(0%, -25%);
    }
}

@media screen and (max-width: 991px) {
    .footer__content {
        flex-direction: column;
        gap: 24px;
    }
}

@media screen and (max-width: 767px) {
    .header-content__title {
        font-size: 60px;
    }
    .header-content__sub-title {
        font-size: 20px;
    }
    .header-form {
        flex-direction: column;
    }
    .header-form__form {
        flex-direction: column;
        gap: 16px;

        width: 100%;
    }
    .header-form__input {
        padding: 16px 24px;

        border-radius: 8px;
    }
    .header-form__btn {
        border-radius: 8px;
    }
    .header-form__decor {
        margin: 16px 0;

        border: none;

        width: 100%;
        height: 1px;

        background: #30363d;
    }
    .header-form__btn-start {
        width: 100%;
        justify-content: center;
    }
    .our-partners__list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }
    .content-title {
        font-size: 20px;
    }
    .content-sub-title {
        font-size: 28px;
    }
    .productivity-block-anime__second {
        max-width: 210px;
        transform: translateY(-90%);
    }
    .river__content {
        margin: 75px 0;
    } 
    .river__title {
        line-height: 28px;
        font-size: 20px;
    }
    .fact__title-top {
        margin-bottom: 15px;
        
        font-size: 12px;
    }
    .fact__title {
        margin: 0;
        font-size: 40px;
        line-height: 40px;
    }
    .fact__sub-text {
        font-size: 20px;
    }
    .btn-link {
        font-size: 16px;
    }
    .card-content__wrapper-flex {
        flex-direction: column;
    }
    .card-content__item {
        flex-direction: column;
    }
    .productivity-block-anime__second {
        max-width: 285px;
        transform: translateY(-80%);
    }
    .content-sub-title--big {
        max-width: 250px;
        font-size: 32px;
    }
}

@media screen and (max-width: 575px) {
    .header-content__sub-title {
        margin-bottom: 15px;

        line-height: 28px;
    }
    .header-form__btn-start {
        padding: 10px;
    }
    .event__interval-middle--purple-to-green {
        height: 110%;
    }
    .productivity-block-anime__second {
        max-width: 150px;
        transform: translate(-10%, -85%);
    }

    .event__interval-more-info {
        display: none;
    }
    .card-content__item--column {
        width: 100%;
    }
    .card-content__main {
        padding: 35px;
    }
    .application-security__productivity-block-anime__second {
        max-width: 235px;
        transform: translate(0%, -85%);
    }
    .global__wrapper {
        max-width: 100%;
        height: max-content;
    }
    .footer__item-wrapper {
        gap: 50px;
        flex-wrap: wrap;
    }
}