.global {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.global__wrapper {
    position: relative;

    display: block;

    width: 916px;
    height: 918px;

    overflow: hidden;
}
.global__video {
    max-width: 100%;
    max-height: 100%;

    object-fit: cover;
}
/* .global__wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    overflow: hidden;

    border: 1px solid #040e1e;
} */
.global__btn {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);

    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
}
.global__gradient {
    position: absolute;
    
    bottom: 0;

    width: 100%;
    height: 285px;
    
    background: linear-gradient(180deg, rgba(4, 14, 30, 1) 0%, rgba(14, 17, 22, 1) 55%);
    box-shadow: 0px -150px 95px 4px rgba(4,14,30,1);
}
.global__list {
    position: relative;
    z-index: 1;

    max-width: 875px;

    font-size: 14px;
    font-weight: 500;
    color: #8d96a0;
}
.global__item {
    line-height: 1.5;
}
.global__item sup {
    font-size: 11px;
    margin-right: 2px;
}
.global__item:not(:last-child) {
    margin-bottom: 16px;
}
.global__link {
    display: inline-block;
    color: #8d96a0;
    text-decoration: underline;
}
