.header {
    width: 100%;

    color: #fff;

    background: url('../../img/bg.jpg') no-repeat right top/cover;
}

.burger-component-wrapper{
    display: none;
}
.btn-link {
    width: fit-content;

    font-size: 20px;
    line-height: 28px;
    font-weight: 600;

    color: #e6edf3;

    transition: all .2s ease;
}
.btn-link::after {
    content: '';
    
    margin-top: 5px;
    
    display: block;

    width: 0;
    height: 2px;
    
    background-color: #e6edf3;
    transition: all .2s ease;
}
.btn-link:hover::after {
    width: 100%;
}
.btn-link:hover .arrow-symbol-mktg {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
}
.btn-link:hover .arrow-symbol-mk {
    transform: translateX(0);
}
.btn-link {
}
