@import url('../../../globalComponents/css/normalize.css');

@import url('../css/header.css');
@import url('../css/modalWindowInput.css');
@import url('../css/nav.css');
@import url('../css/menu.css');
@import url('../css/eventPath.css');
@import url('../css/form.css');
@import url('../css/headerContent.css');
@import url('../css/ourPartners.css');

/* SECTION */
@import url('../css/Section/sectionHeader.css');
@import url('../css/Section/sectionMain.css');
@import url('../css/Section/sectionPromo.css');
@import url('../css/Section/sectionCard.css');

@import url('../css/burgerMenu.css');
@import url('../css/productivity.css');

@import url('../css/globe.css');
@import url('../css/footer.css');
@import url('../css/animation.css');
@import url('../css/adaptive.css');

@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* * {
    outline: 1px solid red !important;
} */
body {
    font-family: 'Noto+Sans', sans-serif;

    background-color: #0E1116;

    font-feature-settings: unset;
}

.container {
    margin: 0 auto;
    padding: 0 20px;

    max-width: 1280px;
    width: 100%;
}
.main {
    overflow-x: clip;
}
.circle-element {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.event__start {
    margin: 0 50px;
    margin-bottom: 5px;
}

/* WebKit scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #141618;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Firefox scrollbar styles */
html {
    scrollbar-color: #888 #141618;
    scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
    background: #141618;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Firefox scrollbar styles */
html {
    scrollbar-color: #888 #141618;
    scrollbar-width: thin;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
@keyframes show-is-left {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes show-event {
    from {
        opacity: 0;
        clip-path: inset(100% 0 0 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

.anim-block-show {
    animation: show linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.anim-block-show-is-left {
    animation: show-is-left linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
.anim-block-show-event {
    animation: show-event linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.wrapper-gradient {
    background: linear-gradient(180deg, rgba(14,17,22,1) 25%, rgba(4,14,30,1) 70%);
}