.nav {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: space-between;

    padding: 15px 20px;
}
.nav__wrapper {
    position: relative;

    display: flex;
    align-items: center;
    gap: 10px;

    width: 100%;
}
.nav__sign-up-wrapper {
    display: none;
}
.nav__btn {
    padding: 5px 10px;
    color: #fff;

    transition: all .3s ease;
}
.nav__btn:hover {
    opacity: 0.7;
}
.nav__btn--border {
    border: 1px solid #D0D7DE;
    border-radius: 6px;
}
.logo {
    margin-right: 20px;

    max-width: 32px;
    max-height: 32px;
}
.logo svg {
    fill: #fff;
}
.nav__inner {
    display: flex;
    width: 100%;
}
.nav__wrapper-item {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-left: auto;
}
.nav__btn-search {
    display: flex;
    align-items: center;
    gap: 150px;

    padding: 5px 10px;
    
    font-size: 14px;
    color: #8C959F;
    border: 1px solid #57606A;
    border-radius: 6px;
    background-color: rgba(46, 55, 74, 82%);

    cursor: pointer;
}
.nav__btn-wrapper {
    display: flex;
    align-items: center;
}
.nav__btn-span {
    max-width: 20px;
    max-height: 20px;
}
.nav__btn-span--search {
    margin-right: 5px;

    max-width: 16px;
    max-height: 16px;
    
    fill: #636c76;
}
.nav__btn-text {
}