
.app {
    display: flex;
    font-weight: 13;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  .panels {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    margin-top: -81px; /* Temp */
    position: absolute;
    width: 100%;
    height: auto;
  }
.left-panel, .center-panel, .right-panel {
    padding: 10px;
    margin-top: 70px; /* Высота вашего временного хедера + немного отступа */
}

.left-panel {
    width: 15%;
    height: auto;
    background-color: #0D1117;
    color: #fff;
}

.center-panel {
    width: 100%;
    height: auto;
    background-color: #010409;
    color: #fff;
}
.right-panel {
    width: 32%;
    height: auto;
    background-color: #010409;
    color: #fff;
}





/* WebKit scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: /* WebKit scrollbar styles */

    ::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #141618;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Firefox scrollbar styles */
html {
    scrollbar-color: #888 #141618;
    scrollbar-width: thin;
}
;
}

::-webkit-scrollbar-thumb {
    background: #141618;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Firefox scrollbar styles */
html {
    scrollbar-color: #888 #141618;
    scrollbar-width: thin;
}
