.footer {
    padding-top: 64px;
}
.footer__content {
    display: flex;
    justify-content: space-between;

    padding-bottom: 64px;
}
.footer__item {
}
.footer__item:first-child {
    margin-right: 24px;
}
.footer__item-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.footer-menu__item {
}
.footer-menu__item:not(:last-child) {
    margin-bottom: 16px;
}
.footer__wrapper {
    max-width: 420px;
}
.footer__logo {
    fill: #fff;
}
.footer__title {
    margin-top: 24px;
    margin-bottom: 3px;

    color: #e6edf3;
    font-size: 14px;
    font-weight: 600;
}
.footer__sub-text {
    margin-bottom: 16px;

    color: #8d96a0;
    font-size: 14px;
    line-height: 1.5;
}
.footer__btn {
    padding: 16px 24px;

    width: fit-content;

    color: #e6edf3;
    font-weight: 700;
    line-height: 1;

    border: 1px solid #63636371;
    border-radius: 8px;

    transition: all .2s, outline .2s ease;
}
.footer__btn:hover {
    border: 1px solid #fff;
}
.footer-menu__list {
    color: #8d96a0;
}
.footer-menu__item--title {
}
.footer-menu__link {
    color: #8d96a0;

    font-size: 14px;
    transition: all .5s ease;
}
.footer-menu__link:hover {
    color: #4493f8;
    text-decoration: underline;
}
.footer-sub-content {
    padding: 24px 16px;

    font-size: 12px;

    background-color: #161b22;
}
.footer-sub-content__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.footer-sub-content__item {
    display: flex;
}
.footer-sub-content-menu__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    color: #8d96a0;
}
.footer-sub-content-menu__item {
    display: flex;
}
.footer-sub-content-menu__link {
    color: #8d96a0;

    transition: all .5s ease;
}
.footer-sub-content-menu__link:hover {
    color: #4493f8;
    text-decoration: underline;
}
