.topicBasedRepositories {
    padding: 20px;
    background-color: #010409;
    margin-bottom: 20px;
}

.topicBasedRepositories__title {
    font-size: 20px;
    margin-bottom: 10px;
}

.topicBasedRepositories__list {
    list-style-type: none;
    padding: 0;
}

.topicBasedRepositories__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.topicBasedRepositories__info {
    flex-grow: 1;
}

.topicBasedRepositories__name {
    font-size: 18px;
    font-weight: bold;
}

.topicBasedRepositories__description {
    font-size: 14px;
    color: #666;
}

.topicBasedRepositories__meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.topicBasedRepositories__stars {
    font-size: 14px;
    color: #666;
}

.topicBasedRepositories__language {
    font-size: 14px;
    color: #666;
}
