.trendingRepositories {
    padding: 20px;
    background-color: #010409;
    margin-bottom: 20px;
}

.trendingRepositories__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.trendingRepositories__list {
    list-style-type: none;
    padding: 0;
}

.trendingRepositories__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.trendingRepositories__info {
    flex-grow: 1;
}

.trendingRepositories__name {
    font-size: 18px;
    font-weight: bold;
}

.trendingRepositories__description {
    font-size: 14px;
    color: #666;
}

.trendingRepositories__meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.trendingRepositories__stars {
    font-size: 14px;
    color: #666;
}

.trendingRepositories__language {
    font-size: 14px;
    color: #666;
}
