.recommendedUsers {
    padding: 20px;
    background-color: #010409;
    margin-bottom: 20px;
}

.recommendedUsers__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.recommendedUsers__list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.recommendedUsers__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.recommendedUsers__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.recommendedUsers__info {
    display: flex;
    flex-direction: column;
}

.recommendedUsers__name {
    font-size: 18px;
    font-weight: bold;
}

.recommendedUsers__description {
    font-size: 14px;
    color: #666;
}
