.vb-profile {
    display: flex;
    align-items: center;
    padding: 10px;
}
.app-link {
    color: #FFFFFF;
    text-decoration: none;
}
.app-link:hover {
    text-decoration: underline;
}
.profile-picture {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.username {
    font-size: 18px;
    font-weight: bold;
}
@media screen and (max-width: 1120px)
{
    
}