.profile {
    display: flex;
    align-items: center;
    padding: 10px;
}

.profile-picture {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.username {
    font-size: 18px;
    font-weight: bold;
}
